/* css design  */
/* style for body */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: grey;
}
/* style for single task div container */

.task-box{
    border: 5px solid white;
    width: 50%;
    height: 90px;
    color: white;
    display: flex;
    align-items: baseline;
    position: relative;
    left: 25%;
}
/* style for del check */
.check{
    margin: 15px;
}


/* style for category section */

.catesec{
    border: none;
    background-color: rgb(130, 130, 232);
}

/* style for TODO heading */

.todoheading{
    color: white;
    text-align: center;
    margin-top: 80px;
}

/* style for form */

.form_class{
    width: 50%;
    text-align: center;
    position: relative;
    left: 25%;
}
/* style for description area */

.desc_Class input{
    height: 50px;
    width: 100%;
    margin: 15px;
    text-align: center;
    transition: transform 0.2s;
    border-radius: 10px;
    border: 1px solid black;
}
/* implemented some hover in description section */
.desc_Class input:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 2px white ;
}

/* design for select and option START */
/* style for select and options input input area */

.select_and_input{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.select_and_input select{
    height: 45px;
    width: 40%;
    transition: transform 0.3s;
    text-align: center;
    margin-right: 50px;
    border: 1px solid black;
}
.select_and_input input{
    height: 45px;
    width: 40%;
    text-align: center;
    transition: transform 0.3s;
}
.select_and_input select:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
}
.select_and_input input:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
}

/* design for dates value */
.datesValues{
    transition: transform 0.3s;
}
.datesValues:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
}
/* design for button */
.buttonDesign{
    height: 50px;
    width: 120px;
    color: black;
    background-color: green;
    transition: transform 0.3s;
}
.buttonDesign:hover{
    box-shadow: 0px 0px 5px 2px white ; 
    transform:scale(1.05);
}
.colorRed{
    background-color: red;
    
}

.commonClass{
    height: auto;
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;    
    color: white;
    transition: transform 0.3s;
}

.commonClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
    transform:scale(1.04);
}
/* design for edit sction */
.editClass{
        transition: transform 0.3s;
        position: absolute;
        left: 80%;
        margin: 20px;
        /* width: 10px; */
}
.editClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
    transform:scale(1.04);
}

.editClass a{
text-decoration: none;
color: black;
border: 1px solid  white;
border-radius: 5px;
padding: 8px;
background-color: rgb(208, 224, 61);
}

/* design for EDIT button*/
.edit-button{
    margin-top: 10px;
    height: 30px;
    width: 90px;
    border-radius: 8px;
    background-color: brown;
    color: white;
}

input.check{
    width: 17px;
    height: 17px;
}

/* Design for different category */
.work{
    background-color:white;
    color: black;
        
}
.Personal{
    background-color:white;
    color: black;

}
.Claeaning{
    background-color:white;
    color: black;
}
.Otheres{
    background-color:white;
    color: black;
}
.name_and_dueDate{
    height: auto;
    width: 200px;
}
.dueDate{
    width: fit-content;
}
.color-white{
    color: white;
}